/* Estilos para a página de login */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
}

.table-login {
    max-width: 500px;
    margin: 15% auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#header_style {
    font-size: 2.5em;
    text-align: center;
    padding: 10px;
    margin-top: 0;
    color: #336699;
}

/* Estilos para a mensagem flutuante */
.messages_error {
    padding: 10px;
    text-align: center;
    color: rgb(255, 1, 1);
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #336699;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    display: block;
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    background-color: #336699;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

button[type="submit"]:hover {
    background-color: #23527c;
}

.error {
    color: #ff0000;
    margin-top: 10px;
}

/* Estilos para a página secreta */

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #336699;
    color: white;
    padding: 10px;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin: 0;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.card h2 {
    margin-top: 0;
}

.card p {
    margin: 0;
}

.footer {
    margin-top: 50px;
    text-align: center;
    font-size: 0.8em;
    color: #777;
}

.logout-link {
    color: #fff;
    /* define a cor do texto como branco */
    font-weight: bold;
    /* define a fonte como negrito */
    text-decoration: none;
    /* remove a sublinhação do texto */
    position: relative;
    /* define a posição do link como relativa */
    transition: all 0.2s ease-in-out;
    /* adiciona uma transição suave ao estilo */
    overflow: hidden;
    /* oculta o conteúdo que ultrapassa o tamanho do link */
}

.logout-link::before {
    content: "";
    /* adiciona um pseudo-elemento antes do link */
    position: absolute;
    /* define a posição do pseudo-elemento como absoluta */
    width: 100%;
    /* define a largura do pseudo-elemento como 100% */
    height: 100%;
    /* define a altura do pseudo-elemento como 100% */
    top: 0;
    /* define a posição do topo como 0 */
    left: -100%;
    /* define a posição da esquerda como -100% */
    background-color: rgba(255, 255, 255, 0.1);
    /* define a cor de fundo do pseudo-elemento */
    transition: all 0.3s ease-in-out;
    /* adiciona uma transição suave ao estilo */
    z-index: -1;
    /* define a ordem em camadas do pseudo-elemento como -1 */
}

.logout-link:hover {
    color: #555;
    /* define a cor do texto como cinza escuro ao passar o mouse sobre o link */
}

.logout-link:hover::before {
    left: 0;
    /* move o pseudo-elemento para a esquerda ao passar o mouse sobre o link */
}

.logout-link:active {
    transform: translateY(2px);
    /* adiciona um efeito de deslocamento para baixo ao clicar no link */
}

/*------ Estilizacao das tabelas do /user ------*/

.table-user-container {
    display: flex;
    justify-content: center;
}

.table-user {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 30px auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.table-user thead tr {
    background-color: #336699;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.table-user th,
.table-user td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.table-user tbody tr:hover {
    background-color: #f5f5f5;
}

.table-user tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table-user td:first-child,
.table-user th:first-child {
    padding-left: 20px;
}

.table-user td:last-child,
.table-user th:last-child {
    padding-right: 20px;
}

/* Estilos para a tabela de projeto documentos */
.table-documentos {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 30px auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.table-documentos th,
.table-documentos td {
    padding: 10px;
    text-align: left;
}

.table-documentos th {
    background-color: #336699;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.table-documentos tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.table-documentos tbody tr:hover {
    background-color: #ddd;
}

/*Estilo para o botao de voltar referrer*/
.referrer {
    float: left;
    margin-right: 20px;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #336699;
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.referrer:hover {
    background-color: #23527c;

}

details {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

details[open] {
    background-color: #f1f1f1;
}

summary {
    cursor: pointer;
    padding: 10px;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    details {
        margin-left: -10px;
        margin-right: -10px;
        border-radius: 0;
        border-left: none;
        border-right: none;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }

    summary {
        padding: 10px 0;
    }
}

.logo img {
    width: 250px;
    height: 150px;
    margin-bottom: 10px;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 9999;
}

.upload-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.upload-button:hover {
    background-color: #45a049;
}

.upload-button:active {
    background-color: #3c903c;
}