<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>{{ projeto }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>

<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo da Empresa">
            <h1>Nome da Empresa</h1>
        </div>

        </div>
        <div>
            <p>Olá, {{ username }}!</p>
            <p>Data e hora de login: {{ login_time }}</p>
        </div>
        <div>
            <div class="sair">
                <a href="{{ url_for('logout') }}" class="logout-link">Sair</a>
            </div>
        </div>

    </header>
    <h1>Documentos de {{ projeto }}</h1>

    <table class="table table-striped table-documentos">
        <thead>
            <tr>
                <th>Selecionar</th>
                <th>Nome do arquivo</th>
                <th>Data de criação</th>
                <th>Status</th>
                <th>Responsavel</th>
                <th>Data Avaliacao</th>
            </tr>
        </thead>
        <tbody>
            <div>
                <div class="Voltar">
                    <a href="{{ url_for('projetos') }}" class="referrer">Voltar</a>
                </div>
            </div>
            <form action="/atualizar_linha" method="post">
                <input type="hidden" name="projeto" value="{{ projeto }}">
                <button type="submit">Enviar</button>
                {% for documento in documentos %}
                <tr>
                    <td><input type="checkbox" name="selecionados" value="{{ documento[0] }}"></td>
                    <td>{{ documento[1] }}</td>
                    <td>{{ documento[2] }}</td>
                    <td>{{ documento[4] }}</td>
                    <td>{{ documento[5] }}</td>
                    <td>{{ documento[7] }}</td>

                </tr>
                {% endfor %}
            </form>

        </tbody>
    </table>
    </form>
</body>

</html>