<!DOCTYPE html>
<html>

<head>
    <title>Documentos de {{ projeto }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>

<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo da Empresa">
            <h1>Nome da Empresa</h1>
        </div>

        <div>
            {% if referrer %}
            <a class="referrer" href="{{ referrer }}">Voltar</a>
            {% endif %}
        </div>
        <div>
            <p>Olá, {{ username }}!</p>
            <p>Data e hora de login: {{ login_time }}</p>
        </div>
        <div>
            <div class="sair">
                <a href="{{ url_for('logout') }}" class="logout-link">Sair</a>
            </div>
        </div>

    </header>
    <h1>Documentos de {{ projeto }}</h1>

    <form method="POST" action="{{ url_for('salvar_responsavel') }}">
        <input type="hidden" name="username" value="{{ session['username'] }}">
        <input type="hidden" name="projeto" value="{{ projeto }}">
        <button type="submit">Salvar responsável</button>
    </form>


    <table class="table table-striped table-documentos">
        <thead>
            <tr>
                <th>Nome do arquivo</th>
                <th>Data de criação</th>
                <th>Status</th>
                <th>Responsavel</th>
                <th>Data Avaliacao</th>
            </tr>
        </thead>
        <tbody>
            {% for documento in documentos %}
            <tr>
                <td>{{ documento[0] }}</td>
                <td>{{ documento[5] }}</td>
                <td>{{ documento[3] }}</td>
                <td>{{ documento[4] }}</td>
                <td>{{ documento[6] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>

</html>