<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Meus Projetos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo da Empresa">
            <h1>Nome da Empresa</h1>
        </div>
        <div>
            <p>Olá, {{ username }}!</p>
            <p>Data e hora de login: {{ login_time }}</p>
        </div>
        <div>
            <div class="sair">
                <a href="{{ url_for('logout') }}" class="logout-link">Sair</a>
            </div>
        </div>

    </header>

    {% extends 'base.html' %}

    {% block content %}
    <h1>{% block title %} Meus Projetos {% endblock %}</h1>

    {{ tabela_projetos | safe }}

    {% endblock %}

</body>

</html>