<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>{{ projeto }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo da Empresa">
        </div>

        </div>
        <div class="header-content">
            <p>Usuario: {{ username }}</p>
            <p>Login: {{ login_time }}</p>
        </div>
        <div>
            <div class="sair">
                <a href="{{ url_for('logout') }}" class="logout-link">Sair</a>
            </div>
        </div>
        

    </header>
    {% extends 'base.html' %}
    {% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-18">
    <h3>{{ projeto }}</h3>
</div>
</div>
</div>


    {% if atualizar == "intermedio" %}
    <form action="/intermediador" method="post">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
        <input type="hidden" name="projeto" value="{{ projeto }}">
        <input type="hidden" name="atualizar" value="{{ atualizar }}">
        <input type="hidden" name="responsavel_status" value="{{ responsavel_status }}">

        <button type="submit" class="selecionar_arquivos"
            onsubmit="return verificarCheckboxSelecionado();">Selecionar</button>

        {% for status in status_list %}
        
        <details>
            <summary>{{ status }}</summary>
            <!-- Tabela com todos os projetos que o usuario esta responsavel-->
            <table class="table table-striped table-documentos  col-md-12">
                <thead>
                    <tr>
                        <th>Selecionar</th>
                        <th>Nome do arquivo</th>
                        <th>Data de criação</th>
                        <th>Status</th>
                        <th>Responsavel</th>
                        <th>Data Avaliacao</th>
                    </tr>
                </thead>
                <tbody>

                    {% for doc in doc if doc[4] == status %}
                    <tr>
                        <td><input type="checkbox" name="selecionados" value="{{ doc[0] }}"></td>
                        <td>{{ doc[1] }}</td>
                        <td>{{ doc[2] }}</td>
                        <td>{{ doc[4] }}</td>
                        <td>{{ doc[5] }}</td>
                        <td>{{ doc[7] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </details>

        {% endfor %}
    </div>
</div>
</div>
    </form>
    {% endif %}

    {% if atualizar == "atualizar" %}
    <form action="/atualizar_status" method="post">
        <input type="hidden" name="projeto" value="{{ projeto }}">
        <input type="hidden" name="atualizar" value="{{ atualizar }}">

        {% if responsavel_status == "Em Desenvolvimento" %}
        <div class="d-inline-block">
            <button type="submit" class="btn btn-primary mudar_status mt-2" id="btn_aprovador" name="abrir_select" onclick="mostrarSelect()">Escolher Aprovador</button>
            <button type="submit" class="btn btn-primary mudar_status mt-2" id="status_atualizar" name="status_atualizar" value="atualizar" style="display: none;">Para Aprovação</button>
            <button type="submit" class="btn btn-secondary mudar_status mt-2" name="status_atualizar" value="cancelar">Cancelar</button>
        </div>
        
        <div id="selectContainer" style="display: none;">
            <label for="nome_aprovador">Aprovador:</label>
            <select class="form-control form-control-sm" id="aprovador" name="aprovador">
                <option value="Andre">Andre</option>
                <option value="Caique">Caique</option>
                <option value="Renato">Renato</option>
                <option value="Richard">Richard</option>
            </select>
        </div>
        <table class="table table-striped table-documentos col-md-12">
            <thead>
                <tr>
                    <th>Nome do arquivo</th>
                </tr>
            </thead>
            <tbody>
                {% for item in doc_selecionado %}
                <tr>
                    <td>{{ item[1] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}

        {% if responsavel_status == "Para Avaliacao" %}
        <div class="d-inline-block">
            {% if not aprovado_exibido %}
            <button type="submit" class="status_aprovador mudar_status mt-1" name="status_aprovador" id="btn_reprovado"  value="aprovado">Aprovado</button>
            {% endif %}
            <button type="submit" class="btn btn-primary mudar_status mb-1" id="btn_reprovado2" name="abrir_selectAval" onclick="mostrarParaAval()">Reprovado</button>
            <button type="submit" class="btn btn-primary mudar_status mb-1" id="status_aprovador" name="status_aprovador" value="reprovado" style="display: none;">Reprovado</button>
            <button type="submit" class="btn btn-secondary mudar_status mb-1" name="status_atualizar" value="cancelar">Cancelar</button>
        </div>

        <div id="selectContainerAval" style="display: none;">
            <label for="nome_responsavel">Responsavel:</label>
            <select class="form-control form-control-sm" id="nome_responsavel" name="nome_responsavel">
                <option value="Andre">Andre</option>
                <option value="Caique">Caique</option>
                <option value="Renato">Renato</option>
                <option value="Richard">Richard</option>
            </select>
        </div>
        <table class="table table-striped table-documentos col-md-12">
            <thead>
                <tr>
                    <th>Nome do arquivo</th>
                </tr>
            </thead>
            <tbody>

                {% for item in doc_selecionado %}
                <tr>
                    <td>{{ item[1] }}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>

        {% endif %}

        {% if responsavel_status == "Para Entrega" or responsavel_status == "Entregue" %}
        
        <div class="d-inline-block">
            <button type="submit" class="mudar_status" name="status_atualizar" value="gerar_grd">Gerar GRD</button>
            <button type="submit" class="mudar_status" name="status_atualizar" value="cancelar">Cancelar</button>
        </div>
        <input type="hidden" name="data_atualizada" value="{{ data_atualizada }}">


        <table class="table table-striped table-documentos col-md-12">
            <thead>
                <tr>
                    <th>Nome do arquivo</th>
                </tr>
            </thead>
            <tbody>
                {% for item in doc_selecionado %}
                <tr>
                    <td>{{ item[1] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif%}

        {% if responsavel_status == "Criado" %}
        <div class="d-inline-block">
            <button type="submit" class="mudar_status" name="status_atualizar" value="atualizar">Mudar Status</button>
            <button type="submit" class="mudar_status" name="status_atualizar" value="cancelar">Cancelar</button>
        </div>
        <table class="table table-striped table-documentos col-md-12">
            <thead>
                <tr>
                    <th>Nome do arquivo</th>
                </tr>
            </thead>
            <tbody>
                {% for item in doc_selecionado %}
                <tr>
                    <td>{{ item[1] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        

    </form>
    {% endif %}

    {% if atualizar == "renomear" %}
    <form action="/renomear_pasta" method="post">
        <input type="hidden" name="projeto" value="{{ projeto }}">
        <input type="hidden" name="caminho" value="{{ pasta_destino }}">

        <input type="hidden" name="status" value="{{ status }}">
        <input type="hidden" name="atualizar" value="{{ atualizar }}">

        <div class="form-group">
            <label for="nome_pasta">Novo nome da pasta:</label>
            <input type="text" class="form-control" id="nome_pasta" name="nome_pasta" required>
        </div>
        <button type="submit" class="btn btn-primary">Renomear Pasta</button>
        <button type="submit" class="mudar_status" name="status_atualizar" value="cancelar">Cancelar</button>
    </form>
    {% endif %}

    {% if atualizar == "gerar_grd" %}
    <form action="/gerar_grd" method="post">
        <input type="hidden" name="projeto" value="{{ projeto }}">
        <input type="hidden" name="status" value="{{ status }}">
        <input type="hidden" name="data_envio" value="{{ data_envio }}">
        <input type="hidden" name="novo_caminho" value="{{ novo_caminho }}">
        <input type="hidden" name="atualizar" value="{{ atualizar }}">
        
            <div>
                <label for="nome_pasta">Enviado por:</label>
                <input id="abreviacao" name="abreviacao" value="{{ abreviacao }}" readonly="readonly">
                <label for="nome_pasta">Data envio:</label>
                <input id="data" name="data" value="{{ data_atualizada }}" readonly="readonly">
            </div>

        <section>
            <div class="form-group-rev">
                <label for="nome_pasta">Revisao:</label>
                <input type="text" class="form-control" id="revisao" name="revisao" required>
            </div>

            <div class="form-group-rev">
                <label for="nome_pasta">Descriçao:</label>
                <input type="text" class="form-control" id="descricao" name="descricao" required>
            </div>

            <div class="form-group-rev">
                <label for="nome_pasta">Tipo:</label>
                <select form-control id="tipo" name="tipo">
                    <option value="A">A - PRELIMINAR</option>
                    <option value="B">B - PARA APROVAÇAO</option>
                    <option value="C">C - PARA CONHECIMENTO</option>
                    <option value="D">D - PARA COTAÇAO</option>
                    <option value="E">E - PARA CONSTRUÇAO</option>
                    <option value="F">F - CONFORME COMPRADO</option>
                    <option value="G">G - CONFORME CONSTRUIDO</option>
                    <option value="H">H - CANCELADO</option>
                </select>
            </div>
        </section>

        <section>
            <div class="form-group">
                <label for="nome_pasta">Verificado por:</label>
                <input type="text" class="form-control" id="verificado" name="verificado" required>
            </div>
            
            <div class="form-group">
                <label for="nome_pasta">Aprovado por:</label>
                <input type="text" class="form-control" id="aprovado" name="aprovado" required>
            </div>
            
            <div class="form-group">
                <label for="nome_pasta">Autorizado por:</label>
                <input type="text" class="form-control" id="autorizado" name="autorizado" required>
            </div>
        </section>


       
        <div class="d-inline-block">
            <button type="submit" class="btn btn-primary">Gerar GRD</button>
            <button type="submit" class="mudar_status" name="status_atualizar" value="cancelar">Cancelar</button>
        </div>

    </form>
    {% endif %}

    <script>
        function mostrarSelect() {
            $("#selectContainer").show();
            $("#status_atualizar").show();
            $("#btn_aprovador").remove();
        }

        function mostrarParaAval() {
            $("#selectContainerAval").show();
            $("#status_aprovador").show();
            $("#btn_reprovado").remove();
            $("#btn_reprovado2").remove();
        }
    </script>

    {% endblock %}


</body>

</html>